@model PaginatedList<HikerPals.Models.Hiker>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Trail Name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]"/>
            <input type="submit" value="Search" class="btn btn-default"/>
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table table-responsive table-hover bg-black bg-opacity-75">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Trail Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AgeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Age</a>
            </th>
            <th>
                @Html.DisplayName("AverageDailyMiles")
            </th>
            <th>
                @Html.DisplayName("YearsExperience")
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.email)
            </th>*@
            <th>
                @Html.DisplayName("Trail")
            </th>
            <th>
                @Html.DisplayName("pack")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrailName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageDailyMiles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsExperience)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Trail.TName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pack.PackName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @prevDisabled">
Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
