@model IEnumerable<HikerPals.Models.pack>



@{
    ViewData["Title"] = "Index";
}

<h1>Packs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="width:50%;">
            <table class="table table-striped table-responsive table-hover text-light">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PackName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PackVolume)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackVolume) liters
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PackId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.PackId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.PackId">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
           <img src="~/images/pexels-photo-1294731.jpeg" alt="pack"/>
        </div>
    </div>
</div>